/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

@import 'vendor/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

/* ==========================================================================
   Base Styles
   ========================================================================== */

@import 'app';

.os{
  background-color: rgba(214,45,88,.4);
  padding:5px;margin: 5px;
}
.new {
  background: red;  padding:5px;margin: 5px;
}
.tow{
  background: #E0E0E0;
  padding:5px;
  margin: 5px;
}
.warning{
  color:#F00;
  font-weight:bold;
  margin-bottom:10px;
  padding:10px;
  font-size:25;
}
.col-centered{
  float: none;
  margin: 0 auto;
  display:block
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  background: #E0E0E0;
}
.test{
  height:2000px;
  background:#eeA;
  line-height:300px;

}
/* Active lik*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a{
  background-image: linear-gradient(to bottom, #666666 0%, #E6FF00 100%);
  background-repeat: repeat-x
}
/*Main Nav bar */
.navbar{
  min-height: 70px;

}

/*Link */

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
  border-bottom: 2px solid #FF0000;


}
/* dropdown hove focus*/
.dropdown-menu > li > a{
  padding: 6px 20px;

  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  -ms-transition: padding 0.5s ease;
  -o-transition:padding 0.5s ease;
  transition: padding 0.5s ease;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: linear-gradient(to bottom, #F5F5F5 0%, rgba(0, 249, 179, 0) 100%);
  background-repeat: repeat-x;

  padding-left: 30px;


}
.dropdown-menu > li > a{
  color:#BBB;
}

/* Barn bar*/
.navbar-brand{
  font-size:28px;
  line-height:40px;
}
.navbar-brand span{
  font-size:12px;
  color:#E41B17;
}
.dropdown-menu > li > a{
  color:#BBB;
}
/* Dropdown */
.dropdown-menu{
  background-color:#333;
  min-width:200px;

}

/**/
.dropdown-menu > li > a {
  color:#FFF;

}
.navbar-right .dropdown-menu{
  left:0;
  right:auto;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color:#F00;
  color:#FFF;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0px;
  overflow: hidden;
  background-color: #FF1010;
}
/*Nav bar link*/
.navbar-nav > li > .dropdown-menu {
  margin-top: 0px;

  min-width: 180px;
  border-radius: 5px;
}
.navbar-nav > li > a{
  padding-top: 25px;
  padding-bottom: 25px;
  font-size:18px;
}
/* nav bar right */
.navbar-right {
  float: right !important;
  margin-right: 108px;
}
/*****Toggle ***/
.navbar-toggle{
  margin-top: 18px;
}
